<!DOCTYPE html>
<html>
<head>
<title>Tickets</title>
<link rel="stylesheet" href="../dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../dist/css/bootstrap-select.css">
<link href="../dist/css/style.css" rel="stylesheet" type="text/css" media="all" />

<link href="../dist/css/memenu.css" rel="stylesheet" type="text/css"  />

<link rel="stylesheet" type="text/css" href="../dist/css/nav.css" />

<link rel="stylesheet" href="../dist/css/font-awesome.min.css" />

<link href="../dist/css/jquery.uls.css" rel="stylesheet"/>

	<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<!--//fonts-->
<!-- js -->
	<script type="text/javascript" src="../dist/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

        function AutoSize(Img, maxWidth, maxHeight) {
            var image = new Image();
            //原图片原始地址（用于获取原图片的真实宽高，当<img>标签指定了宽、高时不受影响）
            image.src = Img.src;
            // 当图片比图片框小时不做任何改变
            if (image.width < maxWidth&& image.height < maxHeight) {
                Img.width = image.width;
                Img.height = image.height;
            }
            else //原图片宽高比例 大于 图片框宽高比例,则以框的宽为标准缩放，反之以框的高为标准缩放
            {
                if (maxWidth/ maxHeight  <= image.width / image.height) //原图片宽高比例 大于 图片框宽高比例
                {
                    Img.width = maxWidth;   //以框的宽度为标准
                    Img.height = maxWidth* (image.height / image.width);
                }
                else {   //原图片宽高比例 小于 图片框宽高比例
                    Img.width = maxHeight  * (image.width / image.height);
                    Img.height = maxHeight  ;   //以框的高度为标准
                }
            }
        }


        function DrawImage(ImgD,width_s,height_s){
            /*var width_s=139;
            var height_s=104;
            */
            var image=new Image();
            image.src=ImgD.src;
            if(image.width>0 && image.height>0){
                flag=true;
                if(image.width/image.height>=width_s/height_s){
                    if(image.width>width_s){
                        ImgD.width=width_s;
                        ImgD.height=(image.height*width_s)/image.width;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
                else{
                    if(image.height>height_s){
                        ImgD.height=height_s;
                        ImgD.width=(image.width*height_s)/image.height;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
            }
            /*else{
            ImgD.src="";
            ImgD.alt=""
            }*/
        }

	</script>


	<style>
		.disabled {
			pointer-events:none; //This makes it not clickable
		opacity:0.6;         //This grays it out to look disabled
		}
	</style>

</head>
<body>

<div id="container">

	<!--<HR style="color:#000000;size:1px" width="100%" >-->

	<div class="header">

		<div class="container">
			<div class="logo">
				<a href="index.html"><span>My</span>Tickets</a>
			</div>


			<div class="pull-right" style="margin-top: 3%">
				<ul class="nav nav-pills">
					<li class="active">
						<a id="loginBT" href="login.html" >登录</a>
					</li>
					<li>
						<a id="signUpBT" href="signUp.html">注册</a>
					</li>
					<li>
						<a id="logOutBT"  @click="logout()">退出</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							服务中心 <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" id="serviceCenter">
							<li id="userCenter"><a href="userCenter.html">个人中心</a></li>
							<li class="divider"></li>
							<li id="venueCenter"><a href="venueCenter.html">场馆中心</a></li>
							<li class="divider"></li>
							<li id="managerCenter"><a href="managerCenter.html">经理中心</a></li>
						</ul>
					</li>
					<li>
						<a v-text="welcomeWord" style="color: blueviolet"></a>
					</li>
				</ul>

			</div>
		</div>
	</div>

	<div class="sort">
		<div class="sort-ti">全部商品分类</div>
		<div class="sort-list">
			<ul>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-1">
						<span>演唱会</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net" target="_blank">流行</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">摇滚</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">民族</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">音乐节</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">其他</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-2">
						<span>音乐会</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net" target="_blank">管弦乐</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">独奏</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">室内乐及古乐</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">声乐及合唱</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">其他</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-3">
						<span>话剧歌剧</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net" target="_blank">话剧</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">歌剧</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">歌舞剧</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">音乐剧</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">儿童剧</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-4">
						<span>舞蹈芭蕾</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net" target="_blank">舞蹈</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">芭蕾</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">舞剧</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-5">
						<span>曲苑杂坛</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net" target="_blank">相声</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">魔术</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">马戏</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">杂技</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">戏曲</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">其他</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-6">
						<span>体育比赛</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net" target="_blank">球类运动</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">搏击运动</a>
						</li>
						<li>
							<a href="http://www.mycodes.net" target="_blank">其他竞技</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-7">
						<span>度假休闲</span>
					</a>
					<ul>
						<li>
							<a href="http://www.mycodes.net">主题公园</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">风景区</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">展会</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">特色体验</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">温泉</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">滑雪</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">游览线路</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">度假村</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">代金券</a>
						</li>
						<li>
							<a href="http://www.mycodes.net">酒店住宿</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="http://www.mycodes.net" target="_blank" class="sort-list-8">
						<span>儿童亲子</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="h_menu4">
		<ul class="memenu skyblue">
			<li><a class="color1" href="#">戏剧</a>
			</li>
			<li><a class="color2" href="#">体育</a>
			</li>
			<li><a class="color8" href="#">亲子</a></li>
			<li><a class="color8" href="#">摇滚</a></li>
			<li><a class="color8" href="#">舞蹈古典</a></li>

		</ul>
	</div>


	<div class="panel panel-success">
		<div class="panel-body">
			<div id="myCarousel" class="carousel slide">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="../dist/images/index/季后赛.jpg" alt="First slide">
					</div>
					<div class="item">
						<img src="../dist/images/index/电音盛典.jpg" alt="Second slide">
					</div>
					<div class="item">
						<img src="../dist/images/index/格力中国杯.jpg" alt="Third slide">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<a class="carousel-control left" href="#myCarousel"
				   data-slide="prev" style="background-image:none">&rsaquo;</a>

				<a class="carousel-control right" href="#myCarousel"
				   data-slide="next" style="background-image:none" >&rsaquo;</a>
			</div>
		</div>
	</div>

	<!-- content-starts-here -->
	<!--猜您喜欢/今日推荐/即将开售-->
	<div class="panel panel-success">
		<div class="panel-body">
			<ul id="myFirstTab" class="nav nav-tabs" @click="changeFirstPanel($event)">
				<li class="active"><a href="#home" data-toggle="tab">猜您喜欢</a></li>
				<li><a href="#recommend" data-toggle="tab">今日推荐</a></li>
				<li><a href="#comingsoon" data-toggle="tab">即将开售</a></li>
			</ul>

			<div id="myFirstTabContent" class="tab-content">

				<div class="tab-pane fade in active" id="home">
					<!--<div class="row">-->
						<ul v-for="guessYouLike in guessYouLikes" >
							<li>
								<div class="col-md-2">
									<!--<button id="" class="btn btn-default">-->
									<a href="#" class="thumbnail" @click="showConcreteShowInfo(guessYouLike.showID)">
										<img v-bind:src="guessYouLike.photoSrc" class="img-rounded" alt="图片路径" style="vertical-align: center" onload="DrawImage(this,200,200)">
										<span style="font-size:15px;font-weight:bold;color: black;vertical-align: center;text-align: center">{{guessYouLike.showName}}</span>
										<p style="font-size:13px;vertical-align:center;text-align: center">票价{{guessYouLike.price}}</p>
									</a>
									<!--</button>-->

								</div>
							</li>
						</ul>
					<!--</div>-->
				</div>

				<div class="tab-pane fade" id="recommend">
					<!--<div class="well">-->
						<ul v-for="todayRecommend in todayRecommends" >
							<li>
								<div class="col-md-2">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(todayRecommend.showID)">
										<img v-bind:src="todayRecommend.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{todayRecommend.showName}}</p>
										<p style="font-size:14px">票价：{{todayRecommend.price}}</p>
									</a>
								</div>
							</li>

						</ul>
					<!--</div>-->
				</div>

				<div class="tab-pane fade" id="comingsoon">
					<div class="row">

					</div>

				</div>
			</div>
		</div>
	</div>

	<!--演唱会/体育赛事/话剧歌剧-->
	<div class="panel panel-success">
		<div class="panel-body">
			<br>
			<h4>我的城市
				<select id="citySelect" @change="getCityShow">
					<option v-for="city in allCities" v-text="city" ></option>
				</select>
			</h4>
			<br>

			<ul id="myCityTab" class="nav nav-tabs" @click="changeCityShowPanel($event)">
				<li class="active"><a href="#cityConcert" data-toggle="tab">演唱会</a></li>
				<li><a href="#citySports" data-toggle="tab">体育赛事</a></li>
				<li><a href="#cityDramaOpera" data-toggle="tab">话剧歌剧</a></li>
			</ul>
			<div id="myCityTabContent" class="tab-content">

				<div class="tab-pane fade in active" id="cityConcert">

					<div class="row">
						<ul v-for="cityConcert in cityConcerts">
							<li>
								<div class="col-md-3">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(cityConcert.showID)">
										<img v-bind:src="cityConcert.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{cityConcert.showName}}</p>
										<p style="font-size:14px">票价：{{cityConcert.price}}</p>
									</a>
								</div>
							</li>
						</ul>
					</div>

				</div>

				<div class="tab-pane fade" id="citySports">

					<div class="row">
						<ul v-for="citySport in citySports" >
							<li>
								<div class="col-md-3">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(citySport.showID)">
										<img v-bind:src="citySport.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{citySport.showName}}</p>
										<p style="font-size:14px">票价：{{citySport.price}}</p>
									</a>
								</div>
							</li>
						</ul>
					</div>


				</div>

				<div class="tab-pane fade" id="cityDramaOpera">
					<ul v-for="cityDramaOpera in cityDramaOperas" @click="showConcreteShowInfo(cityDramaOpera.showID)">
						<li>
							<div class="col-md-3">
								<a href="showInfo.html" class="thumbnail">
									<img v-bind:src="cityDramaOpera.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
									<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{cityDramaOpera.showName}}</p>
									<p style="font-size:14px">票价：{{cityDramaOpera.price}}</p>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--1-4F-->
	<div class="panel panel-success">
		<div class="panel-body">
			<!--<div class="row">-->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">1F 体育赛事</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<ul v-for="allSport in allSports">
							<li>
								<div class="col-md-3">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(allSport.showID)">
										<img v-bind:src="allSport.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{allSport.showName}}</p>
										<p style="font-size:14px">票价：{{allSport.price}}</p>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--</div>-->

			<!--<div class="row">-->
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="panel-title">2F 歌手演出</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<ul v-for="allConcert in allConcerts">
							<li>
								<div class="col-md-3">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(allConcert.showID)">
										<img v-bind:src="allConcert.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{allConcert.showName}}</p>
										<p style="font-size:14px">票价：{{allConcert.price}}</p>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--</div>-->

			<!--<div class="row">-->
			<div class="panel panel-info">
				<div class="panel-heading">
					<span class="panel-title">3F 戏剧达人</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<ul v-for="allDramaOpera in allDramaOperas">
							<li>
								<div class="col-md-3">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(allDramaOpera.showID)">
										<img v-bind:src="allDramaOpera.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{allDramaOpera.showName}}</p>
										<p style="font-size:14px">票价：{{allDramaOpera.price}}</p>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--</div>-->

			<!--<div class="row">-->
			<div class="panel panel-success">
				<div class="panel-heading">
					<a class="panel-title">4F 古典舞蹈</a>
				</div>
				<div class="panel-body">
					<div class="row">
						<ul v-for="allDance in allDances">
							<li>
								<div class="col-md-3">
									<a href="showInfo.html" class="thumbnail" @click="showConcreteShowInfo(allDance.showID)">
										<img v-bind:src="allDance.photoSrc" class="img-rounded" alt="图片路径" align="center" onload="DrawImage(this,200,200)">
										<p style="font-size:15px;font-weight:bold;text-align: center;color: black">{{allDance.showName}}</p>
										<p style="font-size:14px">票价：{{allDance.price}}</p>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--</div>-->
		</div>
	</div>
</div>


</body>



<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>


<script src="../resources/vue/vue.js"></script>
<script src="../resources/vue-resource/vue-resource.js"></script>

<script src="../dist/js/pages/index.js"></script>

<script type="text/javascript" src="../dist/js/wwwnet.js"></script>
<script type="text/javascript" src="../dist/js/memenu.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/bootstrap-select.js"></script>

<script>
    $(function(){
        $('#myCarousel').carousel({
            interval: 4000
        })
    });
</script>


</html>