<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <link rel='stylesheet' href='../dist/css/style.css' />
    <link rel='stylesheet' href='../dist/css/bootstrap.min.css' />
</head>
<div class="container" id="container">
    <form class="col-sm-offset-4 col-sm-4 form-horizontal" style="top:150px" id="form" role="form" method="post" >
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="email">邮箱</label>
                <div class="col-sm-9">
                    <input type="text" v-model="user.email" class="form-control" id="email" name="email" placeholder="用户名" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="password">密码</label>
                <div class="col-sm-9">
                    <input type="password" v-model="user.password" class="form-control" id="password" name="password" placeholder="密码" required>
                </div>
            </div>


            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="submit" style="opacity: 0.5;" class="btn btn-default btn-lg btn-block" @click.prevent="login()">登录</button>
                    <a href="signUp.html"><button type="button" style="opacity: 0.5;" class="btn btn-default btn-lg btn-block">注册</button></a>
                    <a href="index.html"><button type="button" style="opacity: 0.5;" class="btn btn-default btn-lg btn-block">返回</button></a>

                </div>


            </div>


        </fieldset>
    </form>
</div>


<script src="../resources/vue/vue.js"></script>
<script src="../resources/vue-resource/vue-resource.js"></script>


<script src="../dist/js/jquery-1.10.2.js"></script>
<script src="../dist/js/bootstrap.min.js"></script>

<script src="../dist/js/pages/index.js"></script>

</body>
</html>
