<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/bootstrap-select.css">
    <link href="../dist/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link href="../dist/css/memenu.css" rel="stylesheet" type="text/css"  />

    <link rel="stylesheet" type="text/css" href="../dist/css/nav.css" />

    <link rel="stylesheet" href="../dist/css/font-awesome.min.css" />

    <link href="../dist/css/jquery.uls.css" rel="stylesheet"/>

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="../dist/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        function AutoSize(Img, maxWidth, maxHeight) {
            var image = new Image();
            //原图片原始地址（用于获取原图片的真实宽高，当<img>标签指定了宽、高时不受影响）
            image.src = Img.src;
            // 当图片比图片框小时不做任何改变
            if (image.width < maxWidth&& image.height < maxHeight) {
                Img.width = image.width;
                Img.height = image.height;
            }
            else //原图片宽高比例 大于 图片框宽高比例,则以框的宽为标准缩放，反之以框的高为标准缩放
            {
                if (maxWidth/ maxHeight  <= image.width / image.height) //原图片宽高比例 大于 图片框宽高比例
                {
                    Img.width = maxWidth;   //以框的宽度为标准
                    Img.height = maxWidth* (image.height / image.width);
                }
                else {   //原图片宽高比例 小于 图片框宽高比例
                    Img.width = maxHeight  * (image.width / image.height);
                    Img.height = maxHeight  ;   //以框的高度为标准
                }
            }
        }


        function DrawImage(ImgD,width_s,height_s){
            /*var width_s=139;
            var height_s=104;
            */
            var image=new Image();
            image.src=ImgD.src;
            if(image.width>0 && image.height>0){
                flag=true;
                if(image.width/image.height>=width_s/height_s){
                    if(image.width>width_s){
                        ImgD.width=width_s;
                        ImgD.height=(image.height*width_s)/image.width;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
                else{
                    if(image.height>height_s){
                        ImgD.height=height_s;
                        ImgD.width=(image.width*height_s)/image.height;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
            }
            /*else{
            ImgD.src="";
            ImgD.alt=""
            }*/
        }

    </script>



</head>
<body>

<div id="container">

    <!--<HR style="color:#000000;size:1px" width="100%" >-->

    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><span>My</span>Tickets</a>
            </div>

            <div class="pull-right" style="margin-top: 3%">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a id="loginBT" href="login.html" >登录</a>
                    </li>
                    <li>
                        <a id="signUpBT" href="signUp.html">注册</a>
                    </li>
                    <li>
                        <a id="logOutBT"  @click="logout()">退出</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            服务中心 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="userCenter.html">个人中心</a></li>
                            <li class="divider"></li>
                            <li><a href="venueCenter.html">场馆中心</a></li>
                            <li class="divider"></li>
                            <li><a href="managerCenter.html">经理中心</a></li>
                        </ul>
                    </li>
                    <li>
                        <a v-text="welcomeWord" style="color: blueviolet"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="h_menu4">
        <ul class="memenu skyblue">
            <li><a class="color1" href="#">戏剧</a>
            </li>
            <li><a class="color2" href="#">体育</a>
            </li>
            <li><a class="color8" href="#">亲子</a></li>
            <li><a class="color8" href="#">摇滚</a></li>
            <li><a class="color8" href="#">舞蹈古典</a></li>
        </ul>
    </div>

    <br><br><br>
    <!--<div class="">-->
    <!--<ol class="breadcrumb" >-->
    <!--<li><a href="#">MyTickets</a></li>-->
    <!--<li><a href="#">{{show.city}}</a></li>-->
    <!--<li><a href="#">{{show.category}}</a></li>-->
    <!--<li class="active">{{show.showName}}</li>-->
    <!--</ol>-->
    <!--</div>-->

    <div class="panel panel-primay">

        <div class="panel-heading">
            <ol class="breadcrumb" >
                <li><a href="index.html">MyTickets</a></li>
                <li><a href="#">{{show.city}}</a></li>
                <li><a href="#">{{show.category}}</a></li>
                <li class="active">{{show.showName}}</li>
            </ol>
        </div>

        <div class="panel-body">
            <div id="row">

                <div class="col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 style="font-size: 26px;">距离支付时间还有</h3>
                        </div>

                        <div class="panel-body" id="leftTimePanel" style="text-align: center">

                            <h4 id="leftTimeMsg" style="font-size:30px;font-weight: bold;"></h4>
                        </div>
                    </div>

                </div>

                <div class="col-md-8">

                    <div class="panel panel-success">

                        <div class="panel-heading">
                            <h3 >订单信息</h3>
                        </div>

                        <div class="panel-body">
                            <table class="table table-bordered table-striped" id="example" style="text-align:center">
                                <thead>
                                <tr>
                                    <th style="text-align:center">订单编号</th>
                                    <th style="text-align:center">项目名称</th>
                                    <th style="text-align:center">演出场馆</th>
                                    <th style="text-align:center">场馆地址</th>
                                    <th style="text-align:center">演出人员</th>
                                    <th style="text-align:center">演出时间</th>
                                    <th style="text-align:center">购买座位</th>
                                    <th style="text-align:center">购买方式</th>
                                    <th style="text-align:center">订单总价</th>
                                    <th style="text-align:center">会员优惠</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="unpayOrder in unpayOrders">
                                    <td v-text="unpayOrder.orderID"></td>
                                    <td v-text="unpayOrder.showName"></td>
                                    <td v-text="venue.venueName"></td>
                                    <td v-text="venue.address"></td>
                                    <td v-text="show.performer"></td>
                                    <td v-text="show.showDate"></td>
                                    <td v-text="unpayOrder.seat"></td>
                                    <td v-text="unpayOrder.purchaseMethod"></td>
                                    <td v-text="unpayOrder.totalPrice"></td>
                                    <td v-text="unpayOrder.discount"></td>
                                    <td><button class="btn btn-success" @click.prevent="setDataToCouponDialog(unpayOrder.orderID,unpayOrder.totalPrice,unpayOrder.discount)" data-toggle="modal" href="#showCouponDialog"><i class="fa fa-edit">确认支付</i></button></td>
                                    <!--<td><button class="btn btn-success" @click.prevent="confirmPayOrder(unpayOrder.orderID)"><i class="fa fa-edit">确认支付</i></button></td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>


            </div>
        </div>


    </div>


    <div class="modal fade" id="showCouponDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h6 class="modal-title">我的优惠券</h6>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">订单编号</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="orderID" name="orderID" placeholder="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">订单总金额</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="totalPrice" name="totalPrice" placeholder="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">会员优惠</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="vipDiscount" name="vipDiscount" placeholder="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">优惠后金额</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="afterDiscount" name="afterDiscount" placeholder="" readonly="readonly">
                                    </div>

                                    <label style="display: none" id="getCouponIDLabel"></label>
                                </div>
                                <div class="form-group">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">我的优惠券</div>
                                        <div class="panel-body">
                                            <table class="table table-bordered table-striped" id="couponTable"  style="text-align:center">
                                                <thead>
                                                <tr>
                                                    <th style="text-align:center">优惠券编号</th>
                                                    <th style="text-align:center">优惠券名称</th>
                                                    <th style="text-align:center">最晚使用日期</th>
                                                    <th style="text-align:center">状态</th>
                                                    <th style="text-align:center">可兑换金额</th>
                                                    <th style="text-align:center">是否使用</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="coupon in coupons">
                                                    <td v-text="coupon.couponID"></td>
                                                    <td v-text="coupon.couponName"></td>
                                                    <td v-text="coupon.lastTerm"></td>
                                                    <td v-text="coupon.state"></td>
                                                    <td v-text="coupon.value"></td>
                                                    <td>
                                                        <input type="radio" name="optionsRadios" value="" onclick="getCouponID(this)">使用
                                                    </td>
                                                    <!--<td><button class="btn btn-success" @click.prevent="confirmPayOrder(unpayOrder.orderID)"><i class="fa fa-edit">确认支付</i></button></td>-->
                                                </tr>
                                                </tbody>
                                            </table>

                                            <p id="noCouponWarning">您没有可使用的优惠券！</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" @click="confirmPayOrder()">确认支付</button>
                                        <button type="button" class="btn btn-default btn-lg btn-block" >取消订单</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>


</body>



<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>


<script src="../resources/vue/vue.js"></script>
<script src="../resources/vue-resource/vue-resource.js"></script>


<script src="../dist/js/pages/payOrder.js"></script>

<script type="text/javascript" src="../dist/js/wwwnet.js"></script>
<script type="text/javascript" src="../dist/js/memenu.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/bootstrap-select.js"></script>

<script>
//    $(document).ready(function () {
//        CountDown();
//    })
    var maxtime = 15 * 60;

    function CountDown() {
        if(maxtime>=0)
        {
            minutes = Math.floor(maxtime/60);
            seconds = Math.floor(maxtime%60);
            var msg =minutes+" 分 "+seconds+" 秒";
            $('#leftTimeMsg').text(msg);
            if(maxtime == 5*60) alert('注意，还有5分钟!');
            --maxtime;
        }
        else
        {
            clearInterval(timer);
            alert("时间到，结束!");
        }
    }
    timer = setInterval("CountDown()",1000);


    function getCouponID(event){
        $('#getCouponIDLabel').val($(event).parents().siblings('td').first().text());
    }


    $(document).ready(function(){
        (function(){
            setInterval(function(){
                var len = document.getElementById("example").rows.length;
                if(len==1) {
                    window.location.href = "userCenter.html";
                }
            }, 1000)
        })();

    });


</script>




</html>