<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/bootstrap-select.css">
    <link href="../dist/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link href="../dist/css/memenu.css" rel="stylesheet" type="text/css"  />

    <link rel="stylesheet" type="text/css" href="../dist/css/nav.css" />

    <link rel="stylesheet" href="../dist/css/font-awesome.min.css" />

    <link href="../dist/css/jquery.uls.css" rel="stylesheet"/>

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
    <script type="text/javascript">

        function AutoSize(Img, maxWidth, maxHeight) {
            var image = new Image();
            //原图片原始地址（用于获取原图片的真实宽高，当<img>标签指定了宽、高时不受影响）
            image.src = Img.src;
            // 当图片比图片框小时不做任何改变
            if (image.width < maxWidth&& image.height < maxHeight) {
                Img.width = image.width;
                Img.height = image.height;
            }
            else //原图片宽高比例 大于 图片框宽高比例,则以框的宽为标准缩放，反之以框的高为标准缩放
            {
                if (maxWidth/ maxHeight  <= image.width / image.height) //原图片宽高比例 大于 图片框宽高比例
                {
                    Img.width = maxWidth;   //以框的宽度为标准
                    Img.height = maxWidth* (image.height / image.width);
                }
                else {   //原图片宽高比例 小于 图片框宽高比例
                    Img.width = maxHeight  * (image.width / image.height);
                    Img.height = maxHeight  ;   //以框的高度为标准
                }
            }
        }


        function DrawImage(ImgD,width_s,height_s){
            /*var width_s=139;
            var height_s=104;
            */
            var image=new Image();
            image.src=ImgD.src;
            if(image.width>0 && image.height>0){
                flag=true;
                if(image.width/image.height>=width_s/height_s){
                    if(image.width>width_s){
                        ImgD.width=width_s;
                        ImgD.height=(image.height*width_s)/image.width;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
                else{
                    if(image.height>height_s){
                        ImgD.height=height_s;
                        ImgD.width=(image.width*height_s)/image.height;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
            }
            /*else{
            ImgD.src="";
            ImgD.alt=""
            }*/
        }

    </script>


    <style>
        .panel-group{max-height:770px;overflow: auto;}
        .leftMenu{margin:10px;margin-top:5px;}
        .leftMenu .panel-heading{font-size:14px;padding-left:20px;height:36px;line-height:36px;color:white;position:relative;cursor:pointer;}/*转成手形图标*/
        .leftMenu .panel-heading span{position:absolute;right:10px;top:12px;}
        .leftMenu .menu-item-left{padding: 2px; background: transparent; border:1px solid transparent;border-radius: 6px;}
        .leftMenu .menu-item-left:hover{background:#C4E3F3;border:1px solid #1E90FF;}
    </style>


</head>
<body>

<div id="container">

    <!--<HR style="color:#000000;size:1px" width="100%" >-->

    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><span>My</span>Tickets</a>
            </div>

            <div class="pull-right" style="margin-top: 3%">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a id="loginBT" href="login.html" >登录</a>
                    </li>
                    <li>
                        <a id="signUpBT" href="signUp.html">注册</a>
                    </li>
                    <li>
                        <a id="logOutBT"  @click="logout()">退出</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            服务中心 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li class="divider"></li>
                            <li><a href="#">场馆中心</a></li>
                        </ul>
                    </li>
                    <li>
                        <a v-text="welcomeWord" style="color: blueviolet"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="h_menu4">
        <ul class="memenu skyblue">
            <li><a class="color1" href="#">戏剧</a>
            </li>
            <li><a class="color2" href="#">体育</a>
            </li>
            <li><a class="color8" href="#">亲子</a></li>
            <li><a class="color8" href="#">摇滚</a></li>
            <li><a class="color8" href="#">舞蹈古典</a></li>
        </ul>
    </div>

    <br><br><br>

    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <div class="panel-group table-responsive" role="tablist">
                <h3 class="col-md-offset-2" @click="getUserCenterIndex()"><a href="userCenter.html">My Center</a></h3>
                <div class="panel panel-primary leftMenu">
                    <!-- 利用data-target指定要折叠的分组列表 -->
                    <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                        <h4 class="">
                            <!--panel-title-->
                            交易中心
                            <span class="glyphicon glyphicon-chevron-up right"></span>
                        </h4>
                    </div>
                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                    <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                        <ul class="list-group" id="bussinessCenterUL" >
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <!-- 利用data-target指定URL -->
                                <button class="menu-item-left" data-target="test2.html">
                                    <span class="glyphicon glyphicon-triangle-right"></span>订单管理
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>我的优惠券
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>我的积分
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>统计信息
                                </button>
                            </li>
                        </ul>
                    </div>
                </div><!--panel end-->

                <div class="panel panel-primary leftMenu">
                    <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                        <h4 class="">
                            <!--panel-title-->
                            账户中心
                            <span class="glyphicon glyphicon-chevron-up right"></span>
                        </h4>
                    </div>
                    <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                        <ul class="list-group" id="accountCenterUL">
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>收货地址
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>账号设置
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>安全中心
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>个人信息
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <ol class="breadcrumb" >
                <li><a href="index.html">MyTickets</a></li>
                <li class="active" id="breadcrumbItem">My Center</li>
            </ol>

            <div class="content">

                <div class="panel panel-success" id="userCenterIndexPanel1">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-offset-1 col-md-3">
                                <img src="../dist/images/client_3.jpg" class="img-rounded img-thumbnail	" alt="Cinque Terre">
                            </div>

                            <div class="col-md-8">
                                <br>
                                <div class="row">
                                    <span>您好！</span>
                                    <label v-text="user.username"></label>
                                </div>
                                <br>
                                <div class="row">
                                    <span >钱包：</span>
                                    <label v-text="user.balance" ></label>
                                </div>
                                <br>
                                <div class="row">
                                    <span>积分：</span>
                                    <label v-text="user.memberPoints"></label>
                                </div>
                                <br>
                                <div class="row">
                                    <span>邮箱：</span>
                                    <label v-text="user.email"></label>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

                <HR style="color:#000000;size:1px" width="100%" >

                <div class="panel panel-success" id="userCenterIndexPanel2">
                    <div class="panel-body">
                        <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                            <caption>近期订单列表</caption>
                            <thead>
                            <tr>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">项目名称</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">票价</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">数量</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">订单金额</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">交易状态</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">订单日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="recentOrder in recentOrders">
                                <td v-text="recentOrder.showName"></td>
                                <td v-text="recentOrder.unitPrice"></td>
                                <td v-text="recentOrder.ticketsAmount"></td>
                                <td v-text="recentOrder.totalPrice"></td>
                                <td v-text="recentOrder.orderState"></td>
                                <td v-text="recentOrder.orderDate"></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="orderManage" class="" style="display: none;">

                    <div class="row">
                        <select>
                            <option value ="volvo">全部订单</option>
                            <option value ="saab">待支付</option>
                            <option value="opel">已支付</option>
                            <option value="audi">已完成</option>
                        </select>
                        <select>
                            <option value ="volvo">近三个月订单</option>
                            <option value ="saab">全部订单</option>
                        </select>
                    </div>


                    <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                        <caption>我的订单</caption>
                        <thead>
                        <tr>
                            <th style="text-align:center;font-size: 16px;color: #3c3d41">项目名称</th>
                            <th style="text-align:center;font-size: 16px;color: #3c3d41">票价</th>
                            <th style="text-align:center;font-size: 16px;color: #3c3d41">数量</th>
                            <th style="text-align:center;font-size: 16px;color: #3c3d41">订单金额</th>
                            <th style="text-align:center;font-size: 16px;color: #3c3d41">交易状态</th>
                            <th style="text-align:center;font-size: 16px;color: #3c3d41">订单日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="recentOrder in recentOrders">
                            <td v-text="recentOrder.showName"></td>
                            <td v-text="recentOrder.unitPrice"></td>
                            <td v-text="recentOrder.ticketsAmount"></td>
                            <td v-text="recentOrder.totalPrice"></td>
                            <td v-text="recentOrder.orderState"></td>
                            <td v-text="recentOrder.orderDate"></td>

                        </tr>

                        </tbody>
                    </table>


                </div>

                <div id="myCoupon" class="" style="display: none">

                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#nonUseCoupon" data-toggle="tab">
                                未使用优惠券
                            </a>
                        </li>
                        <li><a href="#ExpiredCoupon" data-toggle="tab">已过期优惠券</a></li>
                        <li>
                            <a href="#couponConsumptionRecord"
                               data-toggle="tab">优惠券消费记录
                            </a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="nonUseCoupon">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">优惠券号码</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">优惠说明</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">适用范围</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">有效期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="recentOrder in recentOrders">
                                    <td v-text="recentOrder.showName"></td>
                                    <td v-text="recentOrder.unitPrice"></td>
                                    <td v-text="recentOrder.ticketsAmount"></td>
                                    <td v-text="recentOrder.totalPrice"></td>
                                    <td v-text="recentOrder.orderState"></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="ExpiredCoupon">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">优惠券号码</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">优惠说明</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">适用范围</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">有效期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="recentOrder in recentOrders">
                                    <td v-text="recentOrder.showName"></td>
                                    <td v-text="recentOrder.unitPrice"></td>
                                    <td v-text="recentOrder.ticketsAmount"></td>
                                    <td v-text="recentOrder.totalPrice"></td>
                                    <td v-text="recentOrder.orderState"></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="couponConsumptionRecord">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">优惠券号码</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">优惠说明</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">适用范围</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">有效期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="recentOrder in recentOrders">
                                    <td v-text="recentOrder.showName"></td>
                                    <td v-text="recentOrder.unitPrice"></td>
                                    <td v-text="recentOrder.ticketsAmount"></td>
                                    <td v-text="recentOrder.totalPrice"></td>
                                    <td v-text="recentOrder.orderState"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div id="memberPoint" class="" style="display: none">

                    <div class="well">
                       <span class="label label-info" style="font-size: 12px">积分总计:</span> <samp style="font-size: 20px;color: red"  v-text="user.memberPoints"></samp>
                    </div>

                    <ul id="myMemberPointsTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#getCouponRecord" data-toggle="tab">
                                获取记录
                            </a>
                        </li>
                        <li><a href="#useCouponRecord" data-toggle="tab">消耗记录</a></li>

                    </ul>
                    <div id="myMemberPointsTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="getCouponRecord">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">交易号</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">日期</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">项目</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">来源</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">积分数</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">状态</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">过期日</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="recentOrder in recentOrders">
                                    <td v-text="recentOrder.showName"></td>
                                    <td v-text="recentOrder.unitPrice"></td>
                                    <td v-text="recentOrder.ticketsAmount"></td>
                                    <td v-text="recentOrder.totalPrice"></td>
                                    <td v-text="recentOrder.orderState"></td>
                                    <td v-text="recentOrder.totalPrice"></td>
                                    <td v-text="recentOrder.orderState"></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="useCouponRecord">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">交易号</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">日期</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">项目</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">类型</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">积分数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="recentOrder in recentOrders">
                                    <td v-text="recentOrder.showName"></td>
                                    <td v-text="recentOrder.unitPrice"></td>
                                    <td v-text="recentOrder.ticketsAmount"></td>
                                    <td v-text="recentOrder.totalPrice"></td>
                                    <td v-text="recentOrder.orderState"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>

                <div id="myStatistics" class="" style="display: none">

                    <p>这里是统计信息</p>
                </div>

                <div id="receivingAddress" class="" style="display: none">

                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row">
                                <span v-text="user.username"></span>
                            </div>
                            <br>
                            <div class="row">
                                <span v-text="user.phoneNumber"></span>
                            </div>
                            <br>
                            <div class="row">
                                <span v-text="user.address"></span>
                                <span v-text="user.email"></span>
                            </div>
                            <br>
                            <div class="row">
                                <button type="button" class="btn btn-default btn-sm">修改</button>
                                <button type="button" class="btn btn-default btn-sm">删除</button>
                            </div>

                        </div>
                    </div>

                </div>

                <div id="accountSetting" class="" style="display: none">
5
                </div>

                <div id="safeSetting" class="" style="display: none">
6
                </div>

                <div id="personalInfo" class="" style="display: none">
7
                </div>


            </div>



        </div>
    </div>

</div>


</body>



<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>


<script src="../resources/vue/vue.js"></script>
<script src="../resources/vue-resource/vue-resource.js"></script>

<script src="../dist/js/pages/userCenter.js"></script>


<script type="text/javascript" src="../dist/js/wwwnet.js"></script>
<script type="text/javascript" src="../dist/js/memenu.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/bootstrap-select.js"></script>

<script>
    $(function(){
        $(".panel-heading").click(function(e){
            /*切换折叠指示图标*/
            $(this).find("span").toggleClass("glyphicon-chevron-down");
            $(this).find("span").toggleClass("glyphicon-chevron-up");
        });
    });

//    $("ul#bussinessCenterUL").on("click","li",function(){      //只需要找到你点击的是哪个ul里面的就行
//        alert($(this).text());
//    });
//
//    $("ul#accountCenterUL").on("click","li",function(){      //只需要找到你点击的是哪个ul里面的就行
//        alert($(this).text());
//    });
</script>


</html>