<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/bootstrap-select.css">
    <link href="../dist/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link href="../dist/css/memenu.css" rel="stylesheet" type="text/css"  />

    <link rel="stylesheet" type="text/css" href="../dist/css/nav.css" />

    <link rel="stylesheet" href="../dist/css/font-awesome.min.css" />

    <link href="../dist/css/jquery.uls.css" rel="stylesheet"/>

    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
    <script type="text/javascript">

        function AutoSize(Img, maxWidth, maxHeight) {
            var image = new Image();
            //原图片原始地址（用于获取原图片的真实宽高，当<img>标签指定了宽、高时不受影响）
            image.src = Img.src;
            // 当图片比图片框小时不做任何改变
            if (image.width < maxWidth&& image.height < maxHeight) {
                Img.width = image.width;
                Img.height = image.height;
            }
            else //原图片宽高比例 大于 图片框宽高比例,则以框的宽为标准缩放，反之以框的高为标准缩放
            {
                if (maxWidth/ maxHeight  <= image.width / image.height) //原图片宽高比例 大于 图片框宽高比例
                {
                    Img.width = maxWidth;   //以框的宽度为标准
                    Img.height = maxWidth* (image.height / image.width);
                }
                else {   //原图片宽高比例 小于 图片框宽高比例
                    Img.width = maxHeight  * (image.width / image.height);
                    Img.height = maxHeight  ;   //以框的高度为标准
                }
            }
        }


        function DrawImage(ImgD,width_s,height_s){
            /*var width_s=139;
            var height_s=104;
            */
            var image=new Image();
            image.src=ImgD.src;
            if(image.width>0 && image.height>0){
                flag=true;
                if(image.width/image.height>=width_s/height_s){
                    if(image.width>width_s){
                        ImgD.width=width_s;
                        ImgD.height=(image.height*width_s)/image.width;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
                else{
                    if(image.height>height_s){
                        ImgD.height=height_s;
                        ImgD.width=(image.width*height_s)/image.height;
                    }else{
                        ImgD.width=image.width;
                        ImgD.height=image.height;
                    }
                }
            }
            /*else{
            ImgD.src="";
            ImgD.alt=""
            }*/
        }

    </script>

    <script src="../dist/js/echarts.common.min.js"></script>


    <style>
        .panel-group{max-height:770px;overflow: auto;}
        .leftMenu{margin:10px;margin-top:5px;}
        .leftMenu .panel-heading{font-size:14px;padding-left:20px;height:36px;line-height:36px;color:white;position:relative;cursor:pointer;}/*转成手形图标*/
        .leftMenu .panel-heading span{position:absolute;right:10px;top:12px;}
        .leftMenu .menu-item-left{padding: 2px; background: transparent; border:1px solid transparent;border-radius: 6px;}
        .leftMenu .menu-item-left:hover{background:#C4E3F3;border:1px solid #1E90FF;}
    </style>

    <style>
        .disabled {
            pointer-events:none; //This makes it not clickable
        opacity:0.6;         //This grays it out to look disabled
        }
    </style>

</head>
<body>

<div id="container">

    <!--<HR style="color:#000000;size:1px" width="100%" >-->

    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><span>My</span>Tickets</a>
            </div>

            <div class="pull-right" style="margin-top: 3%">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a id="loginBT" href="login.html" >登录</a>
                    </li>
                    <li>
                        <a id="signUpBT" href="signUp.html">注册</a>
                    </li>
                    <li>
                        <a id="logOutBT"  @click="logout()">退出</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            服务中心 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="userCenter"><a href="userCenter.html">个人中心</a></li>
                            <li class="divider"></li>
                            <li id="venueCenter"><a href="venueCenter.html">场馆中心</a></li>
                            <li class="divider"></li>
                            <li id="managerCenter"><a href="managerCenter.html">经理中心</a></li>
                        </ul>
                    </li>
                    <li>
                        <a v-text="welcomeWord" style="color: blueviolet"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="h_menu4">
        <ul class="memenu skyblue">
            <li><a class="color1" href="#">戏剧</a>
            </li>
            <li><a class="color2" href="#">体育</a>
            </li>
            <li><a class="color8" href="#">亲子</a></li>
            <li><a class="color8" href="#">摇滚</a></li>
            <li><a class="color8" href="#">舞蹈古典</a></li>
        </ul>
    </div>

    <br><br><br>

    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <div class="panel-group table-responsive" role="tablist">
                <h3 class="col-md-offset-2"><a href="venueCenter.html">My Center</a></h3>
                <div class="panel panel-primary leftMenu">
                    <!-- 利用data-target指定要折叠的分组列表 -->
                    <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                        <h4 class="">
                            <!--panel-title-->
                            场馆服务
                            <span class="glyphicon glyphicon-chevron-up right"></span>
                        </h4>
                    </div>
                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                    <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                        <ul class="list-group" id="bussinessCenterUL" >
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <!-- 利用data-target指定URL -->
                                <button class="menu-item-left" data-target="">
                                    <span class="glyphicon glyphicon-triangle-right"></span>发布计划
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>场馆信息
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>开票配票
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>场馆演出
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>检票登记
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>统计信息
                                </button>
                            </li>
                        </ul>
                    </div>
                </div><!--panel end-->

                <div class="panel panel-primary leftMenu">
                    <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                        <h4 class="">
                            <!--panel-title-->
                            账户中心
                            <span class="glyphicon glyphicon-chevron-up right"></span>
                        </h4>
                    </div>
                    <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                        <ul class="list-group" id="accountCenterUL">
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>修改信息
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>操作统计
                                </button>
                            </li>
                            <li class="list-group-item" @click="getMenuItem($event)">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>安全中心
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <ol class="breadcrumb" >
                <li><a href="index.html">MyTickets</a></li>
                <li class="active" id="breadcrumbItem">My Center</li>
            </ol>

            <div class="content">

                <div class="panel panel-success" id="venueCenterIndexPanel1">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-offset-1 col-md-3">
                                <img src="../dist/images/client_2.jpg" class="img-rounded img-thumbnail	" alt="Cinque Terre">
                            </div>

                            <div class="col-md-8">
                                <br><br>
                                <div class="row">
                                    <span>您好！</span>
                                    <label v-text="venue.venueName"></label>
                                </div>
                                <br>
                                <div class="row">
                                    <span >地址：</span>
                                    <label v-text="venue.address" ></label>
                                </div>
                                <br>
                                <div class="row">
                                    <span>简介：</span>
                                    <label v-text="venue.venueInfo"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <HR style="color:#000000;size:1px" width="100%" >

                <div class="panel panel-success" id="venueCenterIndexPanel2">
                    <div class="panel-body">
                        <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                            <caption>近期订单列表</caption>
                            <thead>
                            <tr>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">项目名称</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">购买者用户名</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">数量</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">订单金额</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">交易状态</th>
                                <th style="text-align:center;font-size: 16px;color: #3c3d41">订单日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="recentOrder in recentOrders">
                                <td v-text="recentOrder.showName"></td>
                                <td v-text="recentOrder.username"></td>
                                <td v-text="recentOrder.ticketsAmount"></td>
                                <td v-text="recentOrder.totalPrice"></td>
                                <td v-text="recentOrder.orderState"></td>
                                <td v-text="recentOrder.orderDate"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="releasePlan" class="" style="display: none;">

                    <form class="col-sm-offset-3 col-sm-4 form-horizontal" id="showReleaseForm" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowCategory">项目类型</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.category" class="form-control" id="releaseShowCategory" name="releaseShowCategory" placeholder="项目类型" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowName">项目名称</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.showName" class="form-control" id="releaseShowName" name="releaseShowName" placeholder="项目名称" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowPerformer">演出者</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.performer" class="form-control" id="releaseShowPerformer" name="releaseShowPerformer" placeholder="演出者" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowPhoto" >项目图片</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.photoSrc" class="form-control" id="releaseShowPhoto" name="releaseShowPhoto" placeholder="项目图片" required>
                                    <!--<input type="file" class="form-control" id="releaseShowPhoto" name="releaseShowPhoto" placeholder="项目图片" required>-->
                                    <span class="help-block">
                                            提示：输入格式如 ../dist/images/show/cba广东vs新疆.jpg
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowDate">项目日期</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.showDate" class="form-control" id="releaseShowDate" name="releaseShowDate" placeholder="项目日期" required>
                                    <span class="help-block">
                                            提示：输入格式如 2018-03-19 星期六 19:35
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowPrice">项目价格</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.price" class="form-control" id="releaseShowPrice" name="releaseShowPrice" placeholder="项目价格" required>
                                    <span class="help-block">
                                            提示：如票价有380,580,880三种，请填写380/580/880
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowDescription">项目描述</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShow.description" class="form-control" id="releaseShowDescription" name="releaseShowDescription" placeholder="项目描述" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowArea">场馆区域</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShowArea" class="form-control" id="releaseShowArea" name="releaseShowArea" placeholder="场馆区域" required>
                                    <span class="help-block">
                                            提示：如有A、B、C三个区域，每个区域各自有3,3,4,排，请填写A-3/B-3/C-4
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowRow">最大排数</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShowRow" class="form-control" id="releaseShowRow" name="releaseShowRow" placeholder="最大排数" required>
                                    <span class="help-block">
                                            提示：一共有多少排，请填写数字
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="releaseShowSeat">每排各有多少个座位</label>
                                <div class="col-sm-8">
                                    <input type="text" v-model="releaseShowSeat" class="form-control" id="releaseShowSeat" name="releaseShowSeat" placeholder="每排座位数，以/隔开" required>
                                    <span class="help-block">
                                            提示：如共3排，从低到高每排各有10,20,30个座位，请填写10/20/30
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default btn-lg btn-block" @click="useDefaultSeat()">使用场馆默认座位设定</button>
                                    <button type="button" class="btn btn-default btn-lg btn-block" @click="releaseShowPlan()">发布计划</button>
                                    <!--<a href="index.html"><button type="button" style="opacity: 0.5;" class="btn btn-default btn-lg btn-block">返回</button></a>-->
                                </div>
                            </div>
                        </fieldset>
                    </form>



                </div>

                <div id="venueInfo" class="" style="display: none">

                    <div class="panel panel-success">
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-8">
                                    <br>
                                    <div class="row">
                                        <span>场馆名称</span>
                                        <label v-text="venue.venueName"></label>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <span >所在城市</span>
                                        <label v-text="venue.city" ></label>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <span>场馆地址</span>
                                        <label v-text="venue.address"></label>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <span>场馆区域</span>
                                        <label v-text="venue.area"></label>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <span>最大排数</span>
                                        <label v-text="venue.row"></label>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <span>座位分布</span>
                                        <label v-text="venue.seat"></label>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <span>场馆介绍</span>
                                        <label v-text="venue.venueInfo"></label>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <span>注册日期</span>
                                        <label v-text="venue.regDate"></label>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <span>盈利情况</span>
                                        <label v-text="venue.income"></label>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <div id="arrangeTicket" class="" style="display: none">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3>需要配票的演出</h3>
                        </div>

                        <div class="panel-body">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <caption>需要配票的演出</caption>
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">项目名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">项目类型</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出者</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出日期</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出价格</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="show in needToArrangeShow">
                                    <td v-text="show.showName"></td>
                                    <td v-text="show.category"></td>
                                    <td v-text="show.performer"></td>
                                    <td v-text="show.showDate"></td>
                                    <td v-text="show.price"></td>
                                    <td><button class="btn btn-success" @click="fastArrangeTicket(show.showID)"><i class="fa fa-edit">一键配票</i></button></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div id="spotPurchase" class="" style="display: none">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3>场馆演出列表</h3>
                        </div>

                        <div class="panel-body">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <caption>场馆演出</caption>
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">项目名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">项目类型</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出者</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出日期</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出价格</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">演出状态</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">现场购票</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">更新状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="show in onsaleShow">
                                    <td v-text="show.showName"></td>
                                    <td v-text="show.category"></td>
                                    <td v-text="show.performer"></td>
                                    <td v-text="show.showDate"></td>
                                    <td v-text="show.price"></td>
                                    <td v-text="show.state"></td>
                                    <td><button class="btn btn-success" @click="setDataToChooseSeatModal(show.showID,show.state)"><i class="fa fa-edit">选座购票</i></button></td>
                                    <td><button class="btn btn-primary" @click="setDataToUpdateShowStateModal(show.showID,show.showName)"><i class="fa fa-edit">更新状态</i></button></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div id="checkAndRegister" class="" style="display: none">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>检票登记</h3>
                        </div>

                        <div class="panel-body">
                            <br><br>

                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">请输入订单编号</label>
                                    <div class="col-lg-6">
                                        <input type="text"  class="form-control" id="inputOrderID" placeholder="" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="button" class="btn btn-success" @click.prevent="checkTicket()">检票登记</button>
                                        <button type="button" class="btn btn-default">取消</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div id="venueStatistics" class="" style="display: none">

                    <div class="panel panel-primary">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-offset-1">

                                    <h3>热门演出</h3>

                                    <div id="main" style="width: 520px;height:400px;">

                                    </div>

                                    <div id="main2" style="width: 600px;height:400px;">

                                    </div>

                                    <div id="main3" style="width: 600px;height:400px;">

                                    </div>

                                    <div id="main4" style="width: 600px;height:400px;">

                                    </div>

                                    <div>
                                        <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                            <caption>经理支付账单</caption>
                                            <thead>
                                            <tr>
                                                <th style="text-align:center;font-size: 16px;color: #3c3d41">项目编号</th>
                                                <th style="text-align:center;font-size: 16px;color: #3c3d41">演出总收入</th>
                                                <th style="text-align:center;font-size: 16px;color: #3c3d41">场馆收入</th>
                                                <th style="text-align:center;font-size: 16px;color: #3c3d41">经理收入</th>
                                                <th style="text-align:center;font-size: 16px;color: #3c3d41">支付比率</th>
                                                <th style="text-align:center;font-size: 16px;color: #3c3d41">支付时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="finance in ticketFinance">
                                                <td v-text="finance.financialID"></td>
                                                <td v-text="finance.totalIncome"></td>
                                                <td v-text="finance.venueIncome"></td>
                                                <td v-text="finance.ticketsIncome"></td>
                                                <td v-text="finance.paymentRatio"></td>
                                                <td v-text="finance.date"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div id="modifyVenueInfo" class="" style="display: none">

                    <section class="panel" id="editInfoSection">

                        <div class="panel-body bio-graph-info">
                            <h2>修改场馆信息</h2> <br>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">场馆名称</label>
                                    <div class="col-lg-6">
                                        <input type="text" v-model="modifyVenueName" class="form-control" id="modify_venueName" placeholder="" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">地址</label>
                                    <div class="col-lg-6">
                                        <input type="text"  v-model="modifyVenueAddress" class="form-control" id="modify_venueAddress" placeholder="" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">场馆简介</label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="modify_venueInfo" v-model="modifyUserDescription"></textarea>
                                        <!--<input type="text"  v-model="modifyUserDescription" class="form-control" id="modify_venueInfo" placeholder="" required>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="button" class="btn btn-success" @click.prevent="modifyVenueInfo(venue.venueID)">提交</button>
                                        <button type="button" class="btn btn-default">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>

                </div>

                <div id="operationStatistics" class="" style="display: none">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3>操作统计</h3>
                        </div>

                        <div class="panel-body">
                            <table class="table table-bordered" style="text-align:center;font-size: 16px;color: #3c3d41">
                                <caption>修改统计</caption>
                                <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">原场馆名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">现场馆名称</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">原场馆地址</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">现场馆地址</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">原场馆简介</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">现场馆简介</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">状态</th>
                                    <th style="text-align:center;font-size: 16px;color: #3c3d41">申请时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="modify in modifyPOs">
                                    <td v-text="modify.preVenuePO.venueName"></td>
                                    <td v-text="modify.postVenuePO.venueName"></td>
                                    <td v-text="modify.preVenuePO.address"></td>
                                    <td v-text="modify.postVenuePO.address"></td>
                                    <td v-text="modify.preVenuePO.venueInfo"></td>
                                    <td v-text="modify.postVenuePO.venueInfo"></td>
                                    <td v-text="modify.state"></td>
                                    <td v-text="modify.applicationTime"></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

                <div id="safeSetting" style="display: none;">
                    <section class="panel" id="editPasswordSection" >
                        <div class="panel-body bio-graph-info">
                            <h1>修改密码</h1>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">当前密码</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="previous_password" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">新密码</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="modify_password" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">重复新密码</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="modify_confirm_password" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-9">
                                        <button type="button" class="btn btn-success" @click="modifyVenuePassword(venue.venueID)">保存</button>
                                        <button type="button" class="btn btn-default">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>

            </div>



        </div>
    </div>

    <div class="modal fade" id="showChooseSeatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h6 class="modal-title">是否是会员？</h6>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">会员ID</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputVipID" name="inputVipID" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label  class="col-lg-2 control-label">演出ID</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputShowID" name="inputShowID" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" @click="chooseSeatPurchase()">去选座</button>
                                        <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="showUpdateShowStateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h6 class="modal-title">更新演出状态</h6>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">演出编号</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputUpdateShowID" name="inputUpdateShowID" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label  class="col-lg-2 control-label">演出名称</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputUpdateShowName" name="inputUpdateShowName" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-2 control-label">演出状态</label>
                                    <div class="col-lg-10">
                                        <select id="citySelect">
                                            <option>进行中</option>
                                            <option>已结束</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" @click="updateShowState()">更新</button>
                                        <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>




</body>



<script>
    $(document).ready(function () {
        var mySelect = $('#first-disabled2');

        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    });
</script>


<script src="../resources/vue/vue.js"></script>
<script src="../resources/vue-resource/vue-resource.js"></script>

<script src="../dist/js/pages/venueCenter.js"></script>


<script type="text/javascript" src="../dist/js/wwwnet.js"></script>
<script type="text/javascript" src="../dist/js/memenu.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/bootstrap-select.js"></script>


<script type="text/javascript">

    function initChart1(x,y){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data:x
            },
            series: [
                {
                    name:'访问来源',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:y
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    function initChart2(data){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '用户购票方式'
            },
            tooltip: {},
            legend: {
                data:['数量']
            },
            xAxis: {
                data: ["选座购买","立即购买","现场购票"]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: data
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    function initChart3(x,y){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main3'));

        // 指定图表的配置项和数据
        option = {
            title: {
                text: '场馆演出票房'
            },
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : x,
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'总票房',
                    type:'bar',
                    barWidth: '60%',
                    data:y
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }


    function initChart4(data){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main4'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '场馆订单信息'
            },
            tooltip: {},
            legend: {
                data:['数量']
            },
            xAxis: {
                data: ["待支付","已支付","进行中","已完成","已失效","已退订"]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: data
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }




</script>


<script>
    $(function(){
        $(".panel-heading").click(function(e){
            /*切换折叠指示图标*/
            $(this).find("span").toggleClass("glyphicon-chevron-down");
            $(this).find("span").toggleClass("glyphicon-chevron-up");
        });
    });

</script>


</html>